<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="logImpl" value="SLF4J"/>
        <!--        <setting name="logImpl" value="LOG4J"/>-->
        <!--        <setting name="logImpl" value="LOG4J2"/>-->
        <!--        <setting name="logImpl" value="JDK_LOGGING"/>-->
        <!--        <setting name="logImpl" value="COMMONS_LOGGING"/>-->
        <!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <!--        <setting name="logImpl" value="NO_LOGGING"/>-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>  <!--default false-->
    </settings>

    <typeAliases>
        <typeAlias alias="CamelKeyMap" type="com.spring.boot.framework.mybatis.CamelKeyMap"/>
    </typeAliases>

</configuration>
